---
import bambinoCreations from "../assets/images/bambinocreations.webp";
import champs from "../assets/images/champs.webp";
import foodNutrition from "../assets/images/foodnutrition.webp";
import flowco from "../assets/images/flowco.webp";
import aumenta from "../assets/images/aumenta.webp";
import outdoorLife from "../assets/images/outdoorlife.webp";
import befree from "../assets/images/befree.webp";
import hoffman from "../assets/images/hofmann.webp";
---

<section>
  <div class="flex flex-col items-center space-y-4 md:space-y-8">
    <div class="flex justify-center space-x-4 md:space-x-8">
      <img
        src={bambinoCreations.src}
        alt="Imagen 1"
        class="w-1/2 md:w-1/4 mb-4 md:mb-0"
      />
      <img
        src={champs.src}
        alt="Imagen 2"
        class="w-1/2 md:w-1/4 mb-4 md:mb-0"
      />
      <img
        src={foodNutrition.src}
        alt="Imagen 3"
        class="w-1/2 md:w-1/4 mb-4 md:mb-0"
      />
      <img
        src={flowco.src}
        alt="Imagen 4"
        class="w-1/2 md:w-1/4 mb-4 md:mb-0"
      />
    </div>
    <div class="flex justify-center space-x-4 md:space-x-8">
      <img
        src={aumenta.src}
        alt="Imagen 5"
        class="w-1/2 md:w-1/4 mb-4 md:mb-0"
      />
      <img
        src={outdoorLife.src}
        alt="Imagen 6"
        class="w-1/2 md:w-1/4 mb-4 md:mb-0"
      />
      <img
        src={befree.src}
        alt="Imagen 7"
        class="w-1/2 md:w-1/4 mb-4 md:mb-0"
      />
      <img
        src={hoffman.src}
        alt="Imagen 8"
        class="w-1/2 md:w-1/4 mb-4 md:mb-0"
      />
    </div>
  </div>
</section>
